.activities-wrapper {
  width: 100%;
  height: 100vh;
}

#map {
  height: 200px;
}

.activities-header {
  height: 25px;
  background-color: #F7F7F7;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}

.activities-header p {
  line-height: 25px;
}
