.activities-wrapper {
  width: 100%;
  height: 100vh;
}

#map {
  height: 200px;
}

.activities-header {
  height: 25px;
  background-color: #F7F7F7;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}

.activities-header p {
  line-height: 25px;
}

.activity {
  text-align: center;
  height: 70px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  -webkit-transition: height .3s ease-in-out;
  -moz-transition: height .3s ease-in-out;
  -o-transition: height .3s ease-in-out;
  transition: height .3s ease-in-out;
}

.activity--open {
  height: 150px;
  -webkit-transition: height .3s ease-in-out;
  -moz-transition: height .3s ease-in-out;
  -o-transition: height .3s ease-in-out;
  transition: height .3s ease-in-out;
}

.activity-info {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.activity-user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.activity-title {
  margin-left: 10px;
  display: inline-block;
}

.activity-distance {
  display: inline-block;
  color: #bbb;
  font-size: 12px;
}

/*.activity-contact-button {
  background-color: #34495e;
}*/
