/* GLOBALS */
.content-container {
  padding-left: 45px;
}

.form-group input {
  border-radius: 0;
}

.btn {
  border-radius: 0;
}

.btn-full {
  width: 100%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

/* SIDE-NAV */
.side-nav {
  z-index: 5;
  position: fixed;
  height: 100vh;
  width: 45px;
  background-color: #ecf0f1;
  border-right: 1px solid #dcdcdc;
  -webkit-transition: width .5s ease-in-out;
  -moz-transition: width .5s ease-in-out;
  -o-transition: width .5s ease-in-out;
  transition: width .5s ease-in-out;
}

.nav-open {
  width: 80vw;
  -webkit-transition: width .5s ease-in-out;
  -moz-transition: width .5s ease-in-out;
  -o-transition: width .5s ease-in-out;
  transition: width .5s ease-in-out;
}

.side-nav-backer {
  z-index: 3;
  position: fixed;
  height: 100vh;
  width: 45px;
  background-color: rgba(0,0,0,0.3);
}

.side-nav-backer--open {
  width: 100vw;
}

.navbar-toggle {
  display: inline-block;
  margin-right: 0;
}

.icon-bar {
  z-index: 6;
  background-color: #34495e;
}

.nav-list {
  position: absolute;
  top: 50px;
  width: 0;
  text-align: center;
  -webkit-transition: width .6s ease-in-out;
  -moz-transition: width .6s ease-in-out;
  -o-transition: width .6s ease-in-out;
  transition: width .6s ease-in-out;
  overflow: hidden;
}

.nav-list--open {
  width: 100%;
  -webkit-transition: width .3s ease-in-out;
  -moz-transition: width .3s ease-in-out;
  -o-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.nav-item {
  height: 50px;
  cursor: pointer;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #ccc;
}

.nav-item:first-of-type {
  border-bottom: 0;
}

.nav-item:last-of-type {
  border-top: 0;
}

.nav-item p {
  line-height: 50px;
  font-size: 18px;
}

.nav-item--active {
  background-color: #34495e;
  color: white;
}

/* HEADER */
.header {
  height: 50px;
  background-color: #F7F7F7;
  border-bottom: 1px solid #cacaca;
}

.header>div {
  height: 50px;
}

.header-current-page {
  margin: 0;
  line-height: 50px;
  display: inline-block;
}

.header-user-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Activities */
.activity {
  text-align: center;
  height: 70px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  -webkit-transition: height .3s ease-in-out;
  -moz-transition: height .3s ease-in-out;
  -o-transition: height .3s ease-in-out;
  transition: height .3s ease-in-out;
}

.activity--open {
  height: 150px;
  -webkit-transition: height .3s ease-in-out;
  -moz-transition: height .3s ease-in-out;
  -o-transition: height .3s ease-in-out;
  transition: height .3s ease-in-out;
}

.activity-info {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.activity-user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.activity-title {
  margin-left: 10px;
  display: inline-block;
}

.activity-distance {
  display: inline-block;
  color: #bbb;
  font-size: 12px;
}


@media (min-width: 768px) {
  .navbar-toggle {
    display: inline-block;
  }
}
