<!DOCTYPE html>
<html ng-app="neetApp">
  <head>
    <meta charset="UTF-8">
    <title>Neet - Meet Your Neighbors</title>
    <script src=".\components\jquery\dist\jquery.min.js" charset="utf-8"></script>
    <script src=".\components\angular\angular.js" charset="utf-8"></script>
    <script src=".\components\angular-ui-router\release\angular-ui-router.min.js" charset="utf-8"></script>
    <script src=".\components\bootstrap\dist\js\bootstrap.min.js" charset="utf-8"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP0Y05aTE38c63krstp5R0c2QuSAEEBl8" charset="utf-8"></script>
    <script src="gmaps.min.js" charset="utf-8"></script>

    <link rel="stylesheet" href=".\components\bootstrap\dist\css\bootstrap.min.css">

    <script src="app.js" charset="utf-8"></script>
    <script src="./factories/user-factory.js" charset="utf-8"></script>
    <script src="./factories/activity-factory.js" charset="utf-8"></script>
    <script src="./dashboard/dashboard-controller.js" charset="utf-8"></script>
    <script src="./login/login-controller.js" charset="utf-8"></script>
    <script src="./activities/activities-controller.js" charset="utf-8"></script>

    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="./login/login.css">
    <link rel="stylesheet" href="./activities/activities.css">
    <link rel="stylesheet" href="./dashboard/dashboard.css">
  </head>
  <body ng-controller="indexCtrl as iCtrl">
    <div class="side-nav" ng-class="{'nav-open': iCtrl.navOpen}" ng-if="iCtrl.currentState !== 'login'">
      <button type="button" class="navbar-toggle" ng-click="iCtrl.openNav()">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-list" ng-class="{'nav-list--open': iCtrl.navOpen}">
        <div class="nav-item" ng-click="iCtrl.goTo('dashboard')" ng-class="{'nav-item--active': iCtrl.currentState == 'dashboard'}">
          <p>Dashboard</p>
        </div>
        <div class="nav-item" ng-click="iCtrl.goTo('messaging')" ng-class="{'nav-item--active': iCtrl.currentState == 'messaging'}">
          <p>Messaging</p>
        </div>
        <div class="nav-item" ng-click="iCtrl.goTo('activities')" ng-class="{'nav-item--active': iCtrl.currentState == 'activities'}">
          <p>Activities</p>
        </div>
        <div class="nav-item" ng-click="iCtrl.logout()">
          <p>Logout</p>
        </div>
      </div>
    </div>
    <div class="side-nav-backer" ng-class="{'side-nav-backer--open': iCtrl.navOpen}" ng-if="iCtrl.currentState !== 'login'"></div>
    <div class="content-container" ng-style="{'padding-left': (iCtrl.currentState == 'login') ? '0px' : '45px'}">
      <div class="container-fluid">
        <div class="header row" ng-if="iCtrl.currentState !== 'login'">
          <div class="col-xs-12">
            <a href="" ng-click="iCtrl.goTo(iCtrl.previousState)"><span ng-if="iCtrl.currentState != 'dashboard' " class="glyphicon glyphicon-chevron-left"></span><p class="header-current-page">{{iCtrl.currentState.toUpperCase()}}</p></a>
            <img class="header-user-img" ng-src="{{iCtrl.user.img}}" alt="" />
          </div>
        </div>
      </div>
      <ui-view></ui-view>
    </div>
  </body>
</html>
